.new_user
  .new_user_icon
    = image_tag "/material/logo/logo.png", class: "new_user_icon"
  
  .new_user_form
    .new_user_form_title
      新規ユーザー登録
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      .field
        .requir
          必須
        = f.label :ニックネーム, class:"label-nickname"
        %br/
        = f.text_field :nickname, placeholder:"例） 山ちゃん", class:"size"
      .field
        .requir
          必須
        = f.label :名字（ふりがな）, class:"label-familyname-kana"
        %br/
        = f.text_field :last_name_kana, placeholder:"例） やまだ", class:"size"
      .field
        .requir
          必須
        = f.label :名字 ,class: "label-familyname-kanzi"
        %br/
        = f.text_field :last_name, placeholder:"例） 山田", class:"size"
      .field
        .requir
          必須
        = f.label :名前（ふりがな）,class: "label-firstname-kana"
        %br/
        = f.text_field  :first_name_kana, placeholder:"例） たろう", class:"size"
      .field
        .requir
          必須
        = f.label :名前,class: "label-firstname-kanzi"
        %br/
        = f.text_field :first_name, placeholder:"例） 太郎", class:"size"
      .field
        .requir
          必須
        = f.label :生年月日,class: "birthday"
        %br/
        = f.text_field :birthday, placeholder:"例） 19900101", class:"size"
      .field
        .requir
          必須
        = f.label :email, class: "email"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"例） example@gmail.com", class:"size"
      .field
        .requir
          必須
        = f.label :password（７文字以上）, class: "password"
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder:"半角７文字以上", class:"size"
      .field
        .requir
          必須
        = f.label :password（確認用）, class: "password-confirmation"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認", class:"size"
      .new_user_form_submit
        = f.submit "次へ", class:"new_user_form_submit_button"
    
    .new_user_login
      = link_to new_user_session_path, class: "new_user_login_button" do
        ログインはこちら
