.form_title
  = image_tag "/material/logo/logo.png", class: "form_title_img"

.form_content
  .notifications
    %span
      = render 'layouts/notifications'
 
  = form_with model: product, local: true do |f|   
    .previews
      - if product.persisted?
        - product.images.each_with_index do |image, i| 
          = image_tag image.image.url, data: { index: i }, width: "120", height: '130', class: "product_img"
    .image_box        
      = f.fields_for :images do |i|
        .file_field_group{data: {index: i.index}}
          .file_field
            = i.label :image do
              = fa_icon 'camera'
              画像選択
              = i.file_field :image, class: "hidden"
          .remove
            削除
        - if product.persisted? 
          = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy' 

      - if product.persisted?
        .file_field_group{data: {index: product.images.count}}
          .file_field
            %label(for="image")
              = fa_icon 'camera'
              画像選択
              = file_field_tag :image, name: "product[images_attributes][#{product.images.count}][image]", class: "hidden"
          .remove
            削除

    .product_fields  
      .product_field
        = f.label :name, :商品名
        = f.text_field :name, placeholder: "name"

      .product_field
        = f.label :category_id, :カテゴリー
        = f.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"

      .product_field
        = f.label :brand_id, :ブランド
        = f.collection_select :brand_id, Brand.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"
      
      .product_field
        = f.label :status_id, :商品の状態
        = f.collection_select :status_id, Status.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"
      
      .product_field
        = f.label :size_id, :サイズ
        = f.collection_select :size_id, Size.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"
      
      .product_field
        = f.label :text, :商品概要
        = f.text_area :text, placeholder: "商品説明"
      
      .product_field
        = f.label :delivery_id, :配送料の負担
        = f.collection_select :delivery_id, Delivery.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"
      
      .product_field
        = f.label :deliverytime_id, :発送日時
        = f.collection_select :deliverytime_id, Deliverytime.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"
      
      .product_field
        = f.label :prefecture_id, :発送元の地域
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
        = fa_icon 'chevron-down', class: "product_field_icon"
      
      .product_field
        = f.label :price, :値段
        = f.number_field :price, class: "number", placeholder:"￥"
      
      .product_field_submit
        - if product.persisted?
          = f.submit :更新
          .product_field_submit_delete
            = link_to product_path(product.id), method: :delete, class: "product_field_submit_delete" do
              削除
        - else
          = f.submit :出品


    